.card {
    border: 1px solid var(--ifm-color-emphasis-200);
    border-radius: var(--ifm-card-border-radius);
    margin-bottom: var(--spacing-sm);
  }
  
  .card__header {
    padding: var(--spacing-md);
    border-bottom: 1px solid var(--ifm-color-emphasis-200);
  }
  
  .card__header h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .card__body {
    padding: var(--spacing-md);
  }